h2 {
    color: blueviolet;
    background-color: aquamarine;
    text-align: center;
}
#custom-header{
    color: blanchedalmond;
}
.p3{
    color: blue;
    background-color: yellow;
}
.text-prop{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: italic;
    text-align: center;
    text-decoration: wavy;
    text-transform: uppercase;
    text-shadow: 0px 2px 8px;
}
.block{
    background-color: greenyellow;
    color: grey;
    width: 50%;
    height: 200px;
    
}
